body {
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  position: relative;
  font-family: 'Roboto', 'Arial', 'sans-serif';
  font-size: 16px;

  --orange: #e75112;
  --orangedark: #ce470f;
  --blue: #105394;
  --darkgrey: #333;
  --lightgrey: #ddd;
  --grey: #999;
}

.header {
  height: 80px;
  background: white;
  padding: 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo__img {
 height: 30px;
}

.jumbo {
  position: relative;
  height: 70vh;
  background: var(--blue);
}
.jumbo__title {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 220px;
  height: 210px;
  color: white;
  font-size: 2.7rem;
  text-transform: uppercase;
  padding: 20px;
  white-space: nowrap;
  background: #114c86;
}
.jumbo__title {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border: 6px solid var(--orange);
}

.rocket {
  background: url(img/rocket_1f680.png) no-repeat center;
  background-size: cover;
  width: 80px;
  height: 80px;
  transform: rotate(-45deg);
  position: absolute;
  bottom: -20px;
  left: 5px;
  z-index: 10;
  animation: vibrate .1s infinite 2s, takeoff 1.8s ease-in 6s;
  animation-fill-mode: forwards;
}

.rocket:before {
  position: fixed;
  content: '';
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: 15px;
  left: -5px;
  background: rgba(0,0,0,.2);
  border-radius: 50%;
  box-shadow: 20px 40px 5px 5px rgba(0,0,0,.3),
  10px 20px 5px 5px rgba(0,0,0,.4);
  animation: scale 8s 1;
  animation-fill-mode: forwards;
  transform: scale(0);
  z-index: 3;
}

.rocket:after {
  content: '';
  background: #fff;
  width: 20px;
  height: 34px;
  position: absolute;
  bottom: -6px;
  left: 2px;
  transform: rotate(45deg);
  animation: fade 2s 5s;
  animation-fill-mode: forwards;
  z-index: 2;
}

.footer {
  height: 150px;
  background: url(img/space.jpg) bottom left no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.footer:before {
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, .3);
  z-index: 1;
}

.footer__text {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  margin-right: -30px;
  color: #fff;
  font-size: 2rem;
  white-space: nowrap;
  text-align: right;
  text-shadow: 4px 4px 0px black, -4px -4px 0px black;
}



.section {
  padding: 48px 16px;
  text-align: center;
  border-bottom: 1px solid var(--lightgrey);
}
.section__title {
  color: var(--blue);
}
.info__text, .info__location {
  color: var(--darkgrey);
  line-height: 1.5;
  font-size: 1.3rem;
}
.info__location {
  font-size: 1rem;
}

.info__button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background: var(--orange);
  border: none;
  font-size: 1.2rem;
}
.info__link {
  color: var(--orange);
  display: inline-block;
  margin-top: 10px;
}

.schedule {
  background: var(--orange);
}
.schedule__title {
  color: white;
  text-align: left;
}
.schedule__items {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: top;
}
.schedule__item {
  display: flex;
  flex-direction: row;
  padding: 12px 0;
  border-bottom: 1px solid var(--orangedark);
}
.schedule__time {
  width: 50px;
  color: white;
  font-size: 1rem;
  text-align: left;
  font-weight: bold;
}
.schedule__label {
  flex: 1;
  text-align: left;
  color: white;
  font-size: 1rem;
  padding-left: 20px;
}


.trainers {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-basis: 25%;
  width: 100%;
}
.trainer {
  text-align: center;
  flex-basis: 100%;
}
.trainer__photo {
  width: 90px;
  height: 90px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  background-size: 120px;
  background-position: center;
}
.trainer__name {
  font-size: 1.2rem;
  color: var(--orange);
}
.trainer__intro {
  color: var(--grey);
  line-height: 1.5;
}


@keyframes vibrate {
  20% {
    transform: rotate(-49deg);
  }
  40% {
    transform: rotate(-41eg);
  }
  60% {
    transform: rotate(-49deg);
  }
  80% {
    transform: rotate(-41deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

@keyframes takeoff {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  100% {
    transform: rotate(-45deg) translate(600px, -600px);
  }
}


@keyframes scale {
  0% {
    transform: scale(0);
  }
  60% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes fade {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}